.slidev-layout {
  --at-apply: bg-stone-100 text-stone-800 text-2xl h-full pt-12 px-6 pb-14;

  hr {
    --at-apply: border-stone-300 my-3;
  }

  img {
    --at-apply: max-h-full max-w-full aspect-auto border border-stone-300;
  }

  ol {
    --at-apply: list-decimal;
  }

  ul {
    --at-apply: list-disc;
  }

  ol,
  ul {
    --at-apply: pl-[1em];

    ol,
    ul {
      --at-apply: pl-[2em];
    }
  }

  :not(pre) > code:not(:root) {
    --at-apply: bg-stone-200 mx-1;
  }
}

.kskwtnk-forward-enter-active,
.kskwtnk-forward-leave-active,
.kskwtnk-backward-enter-active,
.kskwtnk-backward-leave-active {
  transition: all 200ms cubic-bezier(0.76, 0, 0.24, 1);
}

.kskwtnk-forward-enter-from {
  translate: 100% 0;
}

.kskwtnk-forward-enter-to {
  translate: 0 0;
}

.kskwtnk-forward-leave-from {
  translate: 0 0;
}

.kskwtnk-forward-leave-to {
  translate: -100% 0;
}

.kskwtnk-backward-enter-from {
  translate: -100% 0;
}

.kskwtnk-backward-enter-to {
  translate: 0 0;
}

.kskwtnk-backward-leave-from {
  translate: 0 0;
}

.kskwtnk-backward-leave-to {
  translate: 100% 0;
}
